::-webkit-scrollbar { /* chrome based */
  width: 0px;  /* ширина scrollbar'a */
  background: transparent;  /* опционально */
}
.fixed-chat
{
    display: inline-flex;
    flex-direction: row;
    position: fixed;
    bottom: 1px; right: 0;
    border: 1px solid;
    border-color: blue;
    height: 50%;
    width: 25%;
    margin-right: 3px;
    margin-bottom: 1;
}
.chat-list
{
  flex-direction: column;
  width: 15%;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox  прячет скроллбар*/
  margin: 2px 2px 2px 2px;
  padding-bottom: 10px;
}
.chat-area
{
    position: absolute; /* */
    height: 70%;
    width: 84%;
    border: 1px solid;
    border-color: blue;
    
}
.msg_container_base {
    margin: 2px 2px 2px 2px;
    background: #e5e5e5;
    height: 99%;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox  прячет скроллбар*/
}
.mes_box
{
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}
/*  */

.mess_img 
{
	height: auto;
	width: 100%;
  /* свойство max-width, позволит лучше контролировать изображение */
	max-width: 220px;
  max-height: 300px;
	margin: 1px 0px 20px 0px;
}
.mess_time
{
  float: left;
  display: block;
  width: 100%;
  margin-top: -10px;
  font-size: 11px;
  margin-right: 3px;
}
.right .mess_time
{
  text-align: right;
  margin-right: 3px;
}
.oponent_mes
{
    display: block;
    max-width: 65%;
    padding: 2px 10px 2px 10px;
    border-radius: 25px;
    background-color: #82ccdd;
    margin-right: 3px;
}
.yuor_mes
{
    display: block;
    max-width: 65%;
    padding: 2px 10px 2px 10px;
    border-radius: 25px;
    background-color: #f0fcff;
    margin-right: 3px;
}
.right
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.text-area
{
  position: absolute;
  bottom: 0%;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.file_btn
{
    margin-left: 11px;
    margin-top: 2px;
    border-radius: 15px !important;
  	background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: grab;
    padding-left: 15px;
    padding-right: 15px;
}
.progressbar
{
    position: absolute;
    bottom: 15%;
    /* visibility: hidden; */
    
} 
/*  код кнопки отправки файла  */
.text-area input[type="file"]
{
  display: none;/* скрываем input file */
}
.send_button
{
    margin-left: 11px;
    border-radius: 15px !important;
  	background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
    margin-bottom: 2px !important;
}
.card {
    min-width: 100%;
    align-items: center;
    background-color: #fff;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.05);
    flex-direction: row;
  }
  
  .card h3 {
    font-size: 15px;
  }
  
  .card p {
    font-size: 13px;
    color: #65676b;
  }
  
  .card-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .border {
    position: absolute;
    width: 52px;
    height: 52px;
    border: 2px solid #000 !important;
    border-radius: 50%;
    opacity: 0.1;
  }